body {
 margin: 0;
 background-image: url("../img/DC-Snow.jpg");
 background-size: 100%;
 background-repeat:no-repeat;
 display: compact;
 font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
 color:white;
}
